.videocard {
    color: #fff;
    width: 450px;
    height: 380px;
    margin: 20px;
    padding: 20px;
    transition: all .5s;

    &:hover {
        transform: scale(1.09);
    }

    .videocard__img {
        overflow: hidden;
        
        img {
            width: 450px;
            height: 280px;
            object-fit: cover;
            vertical-align: bottom;
        }
    }

    > p {
        padding-top: 8px;
    }

    > h2 {
        padding-top: 10px;
    }

    .videocard__stats {
        display: none;
    }

    &:hover {
        .videocard__stats {
            display: flex;
            align-items: center;

            span {
                margin: 0 3px;
            }
        }
    }
}