* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    font-weight: 400;
    min-height: 100vh;
}

.app {
    background-image: linear-gradient(to right, #051421, #042727)
}

@import './header';
@import './nav';
@import './results';
@import './vidoecard';